.form {
    margin-top: 20px;
    background-image: url("../images/background.jpg");
    background-repeat: round;
    color: hsl(240, 67%, 15%);
    border-radius: 5px;
    padding: 15px;
}

.form__fieldsetInput {
    border: 1px solid hsl(240, 69%, 75%);
    padding: 5px;
    max-width: 100%;
    border-radius: 5px;
}

.form__fieldset {
    border: 1px solid hsl(240, 69%, 75%);
    padding: 20px;
    border-radius: 5px;
    margin: 15px;
}

.form__note {
    font-size: 0.85em;
}