html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

.container {
  background-image: url("./background.jpg");
  background-size: contain;
  font-family: "Source Sans 3", sans-serif;
  max-width: 1000px;
  margin: 5px auto;
}
